.DS_Store
.settings
.idea

*.class
*.iml

local.properties

.gradle/
gradle/
gradlew
gradlew.bat

gen/
build/
bin/
out/
docs/
doc/
target/
dependecies/actionbarsherlock/libs/PK*
dependecies/viewpager/libs/PK*
